registry=https://registry.npmjs.org/
node-linker=hoisted
prefer-workspace-packages=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true
network-concurrency=1
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
